@import 'tailwindcss';

html,
body {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', 'Bebas Neue', sans-serif;
  font-family: sans-serif;

  overflow-x: hidden;
}
